body {
    background-color: black;
    color:white;
}

h1 {
    font-size: 20px;
}

#kummeli-info {
    font-size: 12px;
    color:lightgray
}

.border-tonnin-seteli {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

.my-ul-list {
    list-style-type: square;
}

.my-ol-list {
    list-style-type: lower-alpha;
}